.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.btn {
    padding: 0 0.5em 0 0.5em;
    border: 1px solid gray;
}

.selectpicker {
    /*border: 1px solid gray;*/
}

#container {
    margin-left: 3em;
    margin-right: 3em;
}